:root {
    --color-primario: #FF847C; 
    --color-secundario: #EB4A5F;
    --color-fondo: #2A363B;
    --color-section: #05050559;

    --color-items: #05050559;
    --color-item-focus: 0px 1px 40px rgba(230, 65, 123, 0.758);

    --color-form-inputs: #05050592;
    --color-input-focus: 0px 1px 20px rgba(230, 65, 122, 0.663);

    --color-button:  #eb4a60ab;
    --color-button-texto: #ffe5e9d1;
    --color-button-hover: #EB4A5F;
    --color-button-focus:0px 1px 10px rgba(84, 0, 29, 0.96);

    --color-titulo-principal: #F2F2F2;
    --color-subtitulos: #ff94a2;
    --color-texto-transparent: #f2f2f278;
    --color-texto: #F2F2F2;
  }

body {
    background-image: radial-gradient(circle at 120.71% 50%, #bd7253 0, #be6953 8.33%, #bd5f52 16.67%, #bb5553 25%, #b84953 33.33%, #b43b54 41.67%, #ae2c56 50%, #a71a59 58.33%, #9f005d 66.67%, #960062 75%, #8c0068 83.33%, #80006f 91.67%, #720077 100%);
    font-family: "Helvetica", sans-serif;
    color: var(--color-texto);
}

header, main, footer {
    width: 1600px;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
}

h2 {
    color: F3EEEA;
    font-size: 30px;
    font-weight: 900;
}

p {
    font-size: 20px;
    text-align: justify;
}

.header {
    margin: 0 auto;
    padding: 50px 50px 10px 50px;
    text-align: center;
}

.title {
    font-size: 65px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--color-titulo-principal);
}

.subtitle {
    font-size: 30px;
    font-weight: 500;
    color: var(--color-texto);
}

.description {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    background-color:var(--color-section);
    border-radius: 7px;
}

.description > h2 {
    color: var(--color-subtitulos);
}

.technologies {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--color-section);
    margin-top: 40px;
    border-radius: 7px;
}

.technologies > h2 {
    color: var(--color-subtitulos);
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    padding: 25px 0px 0px 0px;
}

.container > div > h6 {
    text-align: center;
    font-size: larger;
    padding-bottom: 5px;
}

.activities{
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 7px;
    background-color:var(--color-section);
}

.activities > h2 {
    color: var(--color-subtitulos);
}

.container > div  {
    background-color: var(--color-items);
    padding: 15px 25px 15px 25px;
    border-radius: 6px;
    filter: grayscale(100%);
    transition: filter 1s ease;
}

.container > div:hover {
    filter: grayscale(0%);
    background-color: var(--color-items);
    box-shadow: var(--color-item-focus);
    transition: filter 1s ease;
}

.img {
    width: 200px;
    height: auto;
}



form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px 0px 0px;
}

form > div {
    width: 100%;
}


form > div > input {
    width: 100%;
    height: 50px;
    margin: 10px 0px 10px 0px; 
    background-color: var(--color-form-inputs);
    border-radius: 5px;
    border: 0px;
    color: var(--color-texto);
    padding-left: 12px;
    font-style:normal; 
    font-family: "Helvetica", sans-serif;
}

form > div > input:focus {
    outline: none;
    box-shadow: var(--color-input-focus);
    transition: 1s;
    background-color: var(--color-form-inputs);
}

form > div > input:not(:focus):not(:hover) {
    transition: 1s;
}

form > div > input::placeholder {
    color: var(--color-texto-transparent);
    font-size: 16px;
    font-style:normal; 
    font-family: "Helvetica", sans-serif;
    padding-left: 12px;
}

form > div > input:focus::placeholder {
    color: transparent;
    transition: filter 1s ease;
}



form > div > textarea {
    margin: 10px 0px 10px 0px; 
    background-color: var(--color-form-inputs);
    border-radius: 5px;
    width: 100%;
    border: 0px;
    color: var(--color-texto);
    padding: 12px 0px 0px 12px;
    font-style:normal; 
    font-family: "Helvetica", sans-serif;
    transition: 1s;
}

form > div > textarea:focus {
    outline: none;
    box-shadow: var(--color-input-focus);
}

form > div > textarea:not(:focus):not(:hover) {
    transition: 1s;
}

form > div > textarea::placeholder {
    color: var(--color-texto-transparent);
    font-size: 16px;
    font-style:normal; 
    font-family: "Helvetica", sans-serif;
    padding: 12px 0px 0px 12px;
}

form > div > textarea:focus::placeholder {
    color: transparent;
    transition: filter 1s ease;
}



.container-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


form > div > button {
    width: 30%;
    height: 50px;
    margin: 10px 0px 30px 0px; 
    background-color:  var(--color-button);
    border-radius: 10px;
    border: 0px;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: var(--color-button-texto);
} 
form > div > button:hover {
    background-color: var(--color-button-hover);
    box-shadow: var(--color-button-focus);
    transition: 1s;
} 

div > span {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#containerCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
    width: 100%;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 10px;
    background-color: var(--color-items);
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    filter: grayscale(100%);
    transition: filter 1s ease;
}

.card:hover {
    filter: grayscale(0%);
    background-color: var(--color-items);
    box-shadow: var(--color-item-focus);
    transition: filter 1s ease;
}

.card > p {
   padding: 0px;
   font-size: 16px;
   margin-top: 0px;
}

.card > img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.buttonDelete {
    width: 30%;
    background-color:  var(--color-button);
    border-radius: 3px;
    padding: 5px;
    border: 0px;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    color: var(--color-button-texto);
    align-self: flex-end;
} 

.buttonDelete:hover {
    background-color: var(--color-button-hover);
    box-shadow: var(--color-button-focus);
    transition: 1s;
} 